{%extends 'base.html'%}

{%block head%}
<title>DJ Mashup Generator - Home</title>
{%endblock%}

{%block body%}
<h1>Welcome to DJ Mashup Generator</h1>
</br>
<h5>Choose a genre, and optionally choose a tempo, key, valence, or danceability. The generator will suggest a song matching your characteristics.</h5>
</br>
<h5>Use this tool to get ideas for songs you might like to make a mashup with!</h5>

</br></br>
{%include 'search_crit.html'%}

<!-- {%block song_body%} -->
<!-- {%endblock%} -->
<!-- </br></br> -->
<!-- {%include 'song_info.html'%} -->


</br></br>
<!-- {%include 'gen_button.html'%} -->

{%endblock%}