<h5>Choose song characteristics:</h5>

<form action='/display-song' method="POST">
    <label for="category">Choose a genre:</label>
    <select id="category" name="category">
        <option value="none">-</option>
        <option value="country">Country</option>
        <option value="edm">EDM</option>
        <option value="folk">Folk</option>
        <option value="funk">Funk</option>
        <option value="k-pop">K-Pop</option>
        <option value="metal">Metal</option>
        <option value="pop">Pop</option>
        <option value="punk">Punk</option>
        <option value="rap">Rap</option>
        <option value="rock">Rock</option>
        <option value="soul">Soul</option>        
    </select>
    
</br>

    <label for="tempo">Choose a tempo:</label>
    <select id="tempo" name="tempo">
        <option value="none">-</option>
        <option value="60">60</option>
        <option value="90">90</option>
        <option value="120">120</option>
        <option value="160">160</option>
    </select>

</br>

    <label for="key">Choose a key:</label>
    <select id="key" name="key">
        <option value="none">-</option>
        <option value="c">C</option>
        <option value="d">D</option>
        <option value="e">E</option>
        <option value="f">F</option>
    </select>
</br></br>
    <input type="submit" value = "Generate a song choice!">
  </form>