<h5>Choose song characteristics:</h5>

<form action='/display-song' method="POST">
    <label for="seed_genres">Choose a genre:</label>
    <select id="seed_genres" name="seed_genres">
        <option value="none">-</option>
        <option value="country">Country</option>
        <option value="edm">EDM</option>
        <option value="folk">Folk</option>
        <option value="funk">Funk</option>
        <option value="k-pop">K-Pop</option>
        <option value="metal">Metal</option>
        <option value="pop">Pop</option>
        <option value="punk">Punk</option>
        <option value="rap">Rap</option>
        <option value="rock">Rock</option>
        <option value="soul">Soul</option>        
    </select>
    
</br>

    <label for="target_tempo">Choose a tempo:</label>
    <select id="target_tempo" name="target_tempo">
        <option value="none">-</option>
        <option value="60">60</option>
        <option value="90">90</option>
        <option value="120">120</option>
        <option value="160">160</option>
    </select>

</br>

    <label for="target_key">Choose a key:</label>
    <select id="target_key" name="target_key">
        <option value="none">-</option>
        <option value=0>C</option>
        <option value=1>C#/Db</option>
        <option value=2>D</option>
        <option value=3>D#/Eb</option>
        <option value=4>E</option>
        <option value=5>F</option>
        <option value=6>F#/Gb</option>
        <option value=7>G</option>
        <option value=8>G#/Ab</option>
        <option value=9>A</option>
        <option value=10>A#/Bb</option>
        <option value=11>B</option>
    </select>

</br>

    <label for="target_valence">Choose valence:</label>
    <select id="target_valence" name="target_valence">
        <option value="none">-</option>
        <option value=0>0 - More negative</option>
        <option value=0.1>0.1</option>
        <option value=0.2>0.2</option>
        <option value=0.3>0.3</option>
        <option value=0.4>0.4</option>
        <option value=0.5>0.5</option>
        <option value=0.6>0.6</option>
        <option value=0.7>0.7</option>
        <option value=0.8>0.8</option>
        <option value=0.9>0.9</option>
        <option value=1>1 - More positive</option>
    </select>

</br>
<label for="target_danceability">Choose danceability:</label>
    <select id="target_danceability" name="target_danceability">
        <option value="none">-</option>
        <option value=0>0 - Less danceable</option>
        <option value=0.1>0.1</option>
        <option value=0.2>0.2</option>
        <option value=0.3>0.3</option>
        <option value=0.4>0.4</option>
        <option value=0.5>0.5</option>
        <option value=0.6>0.6</option>
        <option value=0.7>0.7</option>
        <option value=0.8>0.8</option>
        <option value=0.9>0.9</option>
        <option value=1>1 - More danceable</option>
    </select>

</br>
</br></br>
    <input type="submit" value = "Generate a song choice!">
  </form>