<form action='/display-song' method="POST">
<table>
    <tr>
        <th></th>
        <th>First Song</th>
        <th>Second Song</th>
    </tr>
    <tr>
        <th>First Genre</th>
        <td>
        <select id="seed_genre1" name="seed_genre1">
            {%include 'genre_options.html'%}
        </select>
        </td>
        <td>
            <select id="2_seed_genre1" name="2_seed_genre1">
                {%include 'genre_options.html'%}   
        </select>
        </td>
    </tr>
    <tr>
        <th>Second Genre</th>
        <td>
            <select id="seed_genre2" name="seed_genre2">
                {%include 'genre_options.html'%}   
            </select>
        </td>
        <td>
            <select id="2_seed_genre2" name="2_seed_genre2">
                {%include 'genre_options.html'%}   
            </select>
        </td>
    </tr>
    <tr>
        <th>Third Genre</th>
        <td>
            <select id="seed_genre3" name="seed_genre3">
                {%include 'genre_options.html'%}   
            </select>
        </td>
        <td>
            <select id="2_seed_genre3" name="2_seed_genre3">
                {%include 'genre_options.html'%}   
            </select>
        </td>
    </tr>
</br>
    <tr>
        <th>Target Tempo</th>
        <td>
            <select id="target_tempo" name="target_tempo">
                {%include 'tempo_options.html'%}
            </select>
        </td>
        <td>
            <select id="2_target_tempo" name="2_target_tempo">
                {%include 'tempo_options.html'%}
            </select>
        </td>
    </tr>
    <tr>
        <th>Target Key</th>
        <td>
            <select id="target_key" name="target_key">
                {%include 'key_options.html'%}
            </select>        
        </td>
        <td>
            <select id="2_target_key" name="2_target_key">
                {%include 'key_options.html'%}
            </select>
        </td>
    </tr>
    <tr>
        <th>Target Valence</th>
        <td>
            <select id="target_valence" name="target_valence">
                {%include 'valence_options.html'%}
            </select>
        </td>
        <td>
            <select id="2_target_valence" name="2_target_valence">
                {%include 'valence_options.html'%}
            </select>
        </td>
    </tr>
    <tr>
        <th>Target Danceability</th>
        <td>
            <select id="target_danceability" name="target_danceability">
                {%include 'danceability_options.html'%}
            </select>
        </td>
        <td>
            <select id="2_target_danceability" name="2_target_danceability">
                {%include 'danceability_options.html'%}
            </select>
        </td>
    </tr>
    
</table>
</br>
<input type="submit" value = "Generate a song choice!">
</form>