{%extends 'base.html'%}

{%block head%}
<title>DJ Mashup Generator - Home</title>
{%endblock%}

{%block body%}
<h1>Welcome to DJ Mashup Generator</h1>

</br>
<h5>Follow this tutorial to learn how to choose a song from DJ Mashup Generator</h5>
</br>

<ol>
    <li>On the main page, choose three genres from the available options for the First Song. This describes a category of music, like "Pop" or "Hip Hop".</li>
        <ul>
            <li>You can choose the same song three times, or choose more than one different genre.</li>
        </ul>
        <ul>
            <li>Try choosing "Bluegrass", "Country", and "Rock"</li>
        </ul>
    <li>If you want, choose some of the other criteria to add as well, like the Tempo or the Key. This will affect what songs are chosen</li>
        <ul>
            <li><strong>Tempo</strong> describes how fast the song is</li>
        </ul>  
        <ul>
            <li><strong>Key</strong> describes the group of musical pitches that make up the song</li>
        </ul>
        <ul>
            <li><strong>Valence</strong> describes how "happy sounding" the song is. A low value is sadder, and a higher value is happier</li>
        </ul>
        <ul>
            <li><strong>Danceability</strong> describes how easily you can dance to the song</li>
        </ul>
    
        <ul>
            <li>Try choosing a tempo of "120" for a faster song, and a valence of "0.8" for a happier sounding song</li>
        </ul>
    <li>If you fill out just the First Song column, you'll get two song suggestions based on those criteria. If you want, you can fill out the Second Song column in the same way, and get results based on both choices!</li>
    <li>Click the "Generate a song choice!" button to get two song suggestions</li>
  </ol>

{%endblock%}