{%extends 'base.html'%}

{%block head%}
<title>DJ Mashup Generator - Home</title>
{%endblock%}

{%block body%}
<h1>Welcome to DJ Mashup Generator</h1>

</br>
<h5>Follow this tutorial to learn how to choose a song from DJ Song Generator</h5>
</br>

<ol>
    <li>On the main page, choose a Category from the available options. This describes a category that describes the song type, like "Pop" or "Hip Hop".</li>
        <ul>
            <li>Try choosing "Dance"</li>
        </ul>
    <li>If desired, choose a tempo as well. This is a musical characteristic describing how fast the song is.</li>
        <ul>
            <li>Try choosing "120"</li>
        </ul>
    <li>You can also choose a key if you want! This is another musical characteristic describing the pitches in the song.</li>
        <ul>
            <li>Try choosing "C"</li>
        </ul>
    <li>Click the "Generate a song choice!" button to get a suggested song matching the characteristics you selected.</li>
  </ol>

{%endblock%}